$primary-color: #2B3835;
$background-color: #E3E4E1;
$text-color: #fff;
$secondary-color: #9BA19E;
$baskervville-font: 'Baskervville', serif;
$raleway-font: 'Raleway', sans-serif;



body, .root {
  background-color: $background-color;
  margin: 0;
  height: 100%;
  width: 100%;
}

.grid_wrapper {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100%;
  pointer-events: none;
  .Grid{
    display: flex;
    width: 100vw;
    height: 100%;
    flex-wrap: nowrap;
    justify-content: space-around;
  i {
    width: 1px;
    background-color: rgb(43 56 53 / 10%);
}
}
}
h1, h2 {
  font-family: $baskervville-font;
  text-align: center;
  font-size: 1.8em;
}

h3, h4, p, a{
  font-family: $raleway-font;
  font-weight: 200;
  margin-bottom: 0;
}
a.button {
  padding: 15px 20px;
  background-color: #2B3835;
  color: #fff;
  border: none;
  border-radius: 49px;
  width: 200px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
}

.top-header-subtext {
  text-align: center;
  font-family: $raleway-font;
  font-size: 12px;
}

.top_wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
}
.top-header-sub-green{
  background-color: #2B3835;
    border-top-right-radius: 48vw;
    border-top-left-radius: 48vw;
    position: relative;
    box-shadow: 0 0 90px 12px rgba(43, 56, 52, 0.8509803922);
    min-width: 300px;
    width: 44vw;
    height: 60%;
    max-width: 500px;

}
.top-header-sub-white {
  background-color: #9CA99A;
    color: #fff;
    padding: 12vh 5vw 6vh;
    border-top-left-radius: 80%;
    position: absolute;
    min-width: 250px;
    bottom: -10px;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: -2vw;
    justify-content: flex-end;
    box-shadow: 0 0 90px 12px rgba(43, 56, 52, 0.8509803922);
}


.top-header-text {
  text-align: center;
  font-family: $baskervville-font;
  font-weight: 400;
  font-size: 48px;
  margin: 0;

  .exet {
    font-size: 148px;
    position: relative;
  }
}


.section {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  &_info {
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      width: 80%;
      max-width: 700px;
      font-size: 17px;
      line-height: 1.9;
      font-weight: 100;
    }

    &__dark {
      color: $text-color;
      background-color: $primary-color;
      position: relative;
      margin: 18vw 0 15vw;
      .top_wave {
        position: absolute;
        transform: translateY(-99%);
        top: 0;
        left: 0;
      }
      .bottom_wave {
        position: absolute;
        transform: translateY(99%);
        bottom: 0;
        left: 0;
      }
    }
  }
  &_wrapper{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }
  &_img{
    display: flex;
    padding: 30vw 10vw 5vw;
    flex-direction: row;
    max-width: 1000px;
    img{
      width: 50%;
      padding: 2vw;
    }
  }

  &_text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.direction_text{
  max-width: 560px;
  width: 90%;
  p{
    padding-bottom: 2rem;
  }
}
.wedding-rsvp-form {
  display: flex;
  font-family: $raleway-font;
  flex-direction: column;
  max-width: 350px;
  margin: 0 auto;
  padding: 20px;

  .osa_toggle {
    display: flex;
    width: 100%;

    label {
      padding: 11px 20px 27px 8px;
      width: 50%;
      background-color: $text-color;
      position: relative;
      font-size: 0.8rem;
      display: inline-block;
      border: 1px solid #fff;

      &:hover {
        background-color: $secondary-color;
      }
    }

    input {
      position: absolute;
      display: none;
      top: -5px;
      right: -5px;
    }

    input[type="radio"] {
      display: none;
    }

    input[type=radio]:checked + label {
      background-image: none;
      background-color: #d0d0d0;
      border: 1px solid #000;

      &:hover {
        background-color: $secondary-color;
      }
    }

    label:nth-of-type(1) {
      margin-right: 20px;
    }
  }

  label {
    margin-bottom: 15px;
    font-family: $raleway-font;
    font-size: 1rem;

    input[type="text"], input[type="email"] {
      width: calc(100% - 30px);
      padding: 15px;
      margin-top: 5px;
      border: 0 solid #ccc;
      border-radius: 0;
    }
  }

  button[type="submit"] {
    padding: 15px 20px;
    background-color: $primary-color;
    color: $text-color;
    border: none;
    border-radius: 49px;
    width: 200px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: $secondary-color;
    }
  }
}

.food_field {
  padding: 20px 12px;
  display: block;
  margin: 20px -12px;
  background-color: $primary-color;
  color: $text-color;
  border-radius: 5px;
}
.toggle-partner-link{
  display: block;
  margin: 10px;
  text-align: center;
  padding: 10px;
}

.xosa_add {
  display: block;
  margin: 20px 0;
  text-align: center;
  border-radius: 5px;
  color: $primary-color;
  text-decoration: none;
}

.xosa_rem {
  position: absolute;
  color: $text-color;
  text-decoration: none;
  background-color: $primary-color;
  padding: 10px 14px;
  box-shadow: 1px 1px 60px 1px #000;
  border-radius: 20px;
  right: -15px;
  top: -15px;
}

.xosa_box {
  padding: 10px 12px;
  display: block;
  position: relative;
  margin: 20px -12px;
  background-color: $primary-color;
  color: $text-color;
  border-radius: 5px;

  label {
    margin: 10px 0;
    display: block;
  }
}

.button_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}


.rsvp_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;

  h3 {
    font-size: 15px;
    font-weight: 400;
    color: $primary-color;
    margin-bottom: 0;
  }

  h2 {
    font-size: 29px;
    margin: 5px 0;
    color: $primary-color;
  }

  p {
    font-size: 16px;
    max-width: 250px;
    text-align: center;
  }
}


.container {
  margin: 0 auto;
  padding: 2rem;
  max-width: 768px;

  * {
    box-sizing: border-box;

    &::before, &::after {
      box-sizing: border-box;
    }
  }
}

.accordion {
  .accordion-item {
    border-bottom: 1px solid $primary-color;
    color: #000;

    button[aria-expanded='true'] {
      border-bottom: 1px solid $primary-color;
      color: #000;
    }
  }

  button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
    padding-right: 22px;
    color: $primary-color;

    &:hover, &:focus {
      cursor: pointer;
      color: $primary-color;

      &::after {
        cursor: pointer;
        color: $primary-color;
        border: 1px solid $primary-color;
      }
    }

    .accordion-title {
      padding: 1em 1.5em 1em 0;
      color: #000;
    }

    .icon {
      display: inline-block;
      position: absolute;
      top: 18px;
      right: 0;
      width: 22px;
      height: 22px;
      border: 1px solid;
      border-radius: 22px;

      &::before {
        display: block;
        position: absolute;
        content: '';
        top: 9px;
        left: 5px;
        width: 10px;
        height: 2px;
        background: currentColor;
      }

      &::after {
        display: block;
        position: absolute;
        content: '';
        top: 5px;
        left: 9px;
        width: 2px;
        height: 10px;
        background: currentColor;
      }
    }
  }

  button[aria-expanded='true'] {
    color: $primary-color;

    .icon {
      &::after {
        width: 0;
      }
    }

    + .accordion-content {
      opacity: 1;
      max-height: 9em;
      transition: all 200ms linear;
      will-change: opacity, max-height;
    }
  }

  .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;

    p {
      font-size: 1rem;
      font-weight: 300;
      margin: 2em 0;
    }
  }
}


$color: #111;
$primary: #FFAB9D;

  
a {
  text-decoration: none;
  color: inherit;
}

.cta {
  position: relative;
  margin: auto;
  padding: 19px 22px;
  transition: all .2s ease;
  
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 28px;
    background: rgba($primary, .5);
    width: 56px;
    height: 56px;
    transition: all .3s ease;
  }

  span {
    position: relative;
    font-size: 16px;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: .25em;
    text-transform: uppercase;
    vertical-align: middle;
  }

  svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: $color;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all .3s ease;
  }

  &:hover {
    &:before {
      width: 100%;
      background: rgba($primary, 1);
    }

    svg {
      transform: translateX(0);
    }
  }

  &:active {
    transform: scale(.96);
  }
}

@media (min-width: 768px){

}


